<div id="posts">
    <div class="container-fluid">
    <h1>Posts</h1>
    {{#each posts}}
    <div class="media border p-3">
    <img src="/{{userAvatar}}" alt="user name" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>{{username}} <small><i>{{date}}</i></small></h4>
      <h5>{{title}}</h5>
      <p>{{body}}</p>      
    </div>
  </div>
    {{else}}
    {{/each}}
    <div style="padding-bottom: 70px;"></div>
</div>
</div>